# Node.js
node_modules/
frontend/.next/
frontend/out/
frontend/.env*

# Go
backend/bin/
backend/pkg/
backend/.env*
backend/coverage.out
backend/.DS_Store

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
*.local
docker-compose.override.yml

# Test/coverage
coverage/
*.lcov
*.test
backend/scripts/test.sh

# Misc
*.swp
*.swo
*.tmp
